$i: 100;
@while ($i > 0) {
	.ml-#{$i}{
		margin-left: 1% * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i > 0) {
	.mr-#{$i}{
		margin-right: 1% * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i > 0) {
	.pr-#{$i}{
		padding-right: 1% * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i > 0) {
	.pl-#{$i}{
		padding-left: 1% * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.mb-#{$i} {
		margin-bottom: 1px * $i !important;
	}
	$i: $i - 1;
}

@media (min-width: 575px) {
	$i: 100;
	@while ($i > 0) {
		.mb-sm-#{$i}{
			margin-bottom: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 767px) {
    $i: 100;
	@while ($i > 0) {
		.mb-md-#{$i}{
			margin-bottom: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 991px) {
    $i: 100;
	@while ($i > 0) {
		.mb-lg-#{$i}{
			margin-bottom: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.mb-xl-#{$i}{
			margin-bottom: 1px * $i;
		}
		$i: $i - 1;
	}
}

$i: 100;
@while ($i >= 0) {
	.mt-#{$i} {
		margin-top: 1px * $i !important;
	}
	$i: $i - 1;
}

@media (min-width: 575px) {
	$i: 100;
	@while ($i > 0) {
		.mt-sm-#{$i}{
			margin-top: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 767px) {
    $i: 100;
	@while ($i > 0) {
		.mt-md-#{$i}{
			margin-top: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 991px) {
    $i: 100;
	@while ($i > 0) {
		.mt-lg-#{$i}{
			margin-top: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.mt-xl-#{$i}{
			margin-top: 1px * $i;
		}
		$i: $i - 1;
	}
}


$i: 100;
@while ($i >= 0) {
	.pb-#{$i} {
		padding-bottom: 1px * $i !important;
	}
	$i: $i - 1;
}

@media (min-width: 575px) {
	$i: 100;
	@while ($i > 0) {
		.pb-sm-#{$i}{
			padding-bottom: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 767px) {
    $i: 100;
	@while ($i > 0) {
		.pb-md-#{$i}{
			padding-bottom: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 991px) {
    $i: 100;
	@while ($i > 0) {
		.pb-lg-#{$i}{
			padding-bottom: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.pb-xl-#{$i}{
			padding-bottom: 1px * $i;
		}
		$i: $i - 1;
	}
}

$i: 100;
@while ($i >= 0) {
	.pt-#{$i} {
		padding-top: 1px * $i !important;
	}
	$i: $i - 1;
}

@media (min-width: 575px) {
	$i: 100;
	@while ($i > 0) {
		.pt-sm-#{$i}{
			padding-top: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 767px) {
    $i: 100;
	@while ($i > 0) {
		.pt-md-#{$i}{
			padding-top: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 991px) {
    $i: 100;
	@while ($i > 0) {
		.pt-lg-#{$i}{
			padding-top: 1px * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.pt-xl-#{$i}{
			padding-top: 1px * $i;
		}
		$i: $i - 1;
	}
}

$i: 100;
@while ($i >= 0) {
	.h-#{$i} {
		height: 1px * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i >= 0) {
	.wpx-#{$i} {
		width: 1px * $i;
	}
	$i: $i - 1;
}

$i: 100;
@while ($i > 0) {
	.w-#{$i}{
		width: 1% * $i;
	}
	$i: $i - 1;
}

@media (min-width: 575px) {
	$i: 100;
	@while ($i > 0) {
		.w-sm-#{$i}{
			width: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 767px) {
    $i: 100;
	@while ($i > 0) {
		.w-md-#{$i}{
			width: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 991px) {
    $i: 100;
	@while ($i > 0) {
		.w-lg-#{$i}{
			width: 1% * $i;
		}
		$i: $i - 1;
	}
}

@media (min-width: 1200px) {
    $i: 100;
	@while ($i > 0) {
		.w-xl-#{$i}{
			width: 1% * $i;
		}
		$i: $i - 1;
	}
}