@include component(hero-banner) {
	min-height: calc(80vh);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@include component(container-wrapper) {
		min-height: calc(80vh - 20px);
	    display: flex;
		justify-content: start;
	    align-items: flex-end;

		@include component(title) {
			@include fontSize($font-size-h1);
			color: $theme-primary;
			text-transform: uppercase;
			line-height: 1.2;
			font-weight: $font-weight-normal;

			@media (max-width: 991px) {
				@include fontSize($font-size-h1 - 10px);
			}

			@media (max-width: 575px) {
				@include fontSize($font-size-h2);
			}
		}
	}

	@include option(video-banner) {
		@include size(100%, 540px);
		min-height: auto;
		position: relative;

		@include component(video) {
			@include size(100%, 100%);
			object-fit: cover;
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    z-index: 2;
		}

		@media (max-width: 575px) {
			height: 240px;
		}

		&.home-banner {
			//min-height: calc(80vh);
		}
	}
}