@include component(primary-header) {
	// position: absolute;
	// top: 0;
	// left: 0;
	// width: 100%;
	// @include rem-spacing (padding, 40, 0);
	z-index: 6;
	position: relative;
	@include rem-spacing (padding, 10, 0, 20);

	@include component(header-logo) {
		width: 100px;
		display: block;

		@include option(innerpage) {
			display: none;
		}

		@media (max-width: 575px) {
			width: 110px;
		}
	}

	@include component(register-button) {
		
		@include component(btn) {
			color: $theme-primary;
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			@extend .ff-secondary;
			@include fontSize($base-font-size);

			@media (max-width: 575px) {
				@include fontSize($base-font-size);
				@include rem-spacing(padding, 8, 16);
			}
		}
	}

	.innerpage & {
		position: relative;
		@include rem-spacing (padding, 10, 0, 20);

		@include component(header-logo) {

			@include option(homepage) {
				display: none;
			}

			@include option(innerpage) {
				display: block;
			}
		}
	}
}