@include component(primary-navigation) {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;

	@include component(header-navigation) {
		//@include rem-spacing (margin-right, 20);
		position: absolute;
		right: 10px !important;
		top: 0;
		@include transition(2s);
		display: none;
		
		> ul {
			//width: 0;
			// @include transition(0.3s width);
			// overflow: hidden;

			> li {
				@include rem-spacing (padding, 0, 14);
				border-right: 2px solid $theme-secondary;
				line-height: 1;
				text-align: center;
				display: inline-block;
				position: relative;

				> a {
					color: $theme-white;
					text-transform: uppercase;
					@include fontSize($font-size-h5);
					@extend .ff-secondary;
					line-height: 1;

					&:hover {
						color: $theme-football;
					}

					@media (max-width: 1200px) {
						@include fontSize($font-size-large);
					}
				}

				@media (max-width: 1200px) {
					@include rem-spacing (padding, 0, 10);
				}

				&:last-child {
					@include rem-spacing (padding-right, 0);
					border: none;
				}

				&:hover {

					@include component(dropdown) {
						display: block;
					}
				}
			}
		}

		@include component(dropdown) {
			position: absolute;
			top: 26px;
			left: 0;
			width: 100%;
			background-color: $theme-white;
			display: none;
			z-index: 14;
			min-width: 120px;

			li {

				a {
					color: $theme-default;
					text-transform: uppercase;
					@include fontSize($font-size-medium);
					@extend .ff-secondary;
					@include rem-spacing (padding, 10);
					display: block;

					&:hover {
						background-color: $theme-primary;
						color: $theme-white;
					}
				}
			}
		}

		&.nav-active {
			display: block;
		}

		@media (max-width: 1200px) {
			top: 4px;
		}

		@media (max-width: 991px) {
			background-color: $theme-black;
			@include rem-spacing (padding, 10, 20);
			top: 30px;
			right: 0;
			@include rem-spacing (margin, 0);
			z-index: 12;

			ul {

				li {
					display: block;
					border: none;
					@include rem-spacing (padding, 0);
					@include rem-spacing (margin, 0, 0, 10);

					a {
						@include fontSize($font-size-h5);
					}
				}
			}

		}
	}

	.innerpage &, .homepg & {

		@include component(header-navigation) {
			
			li {

				a {
					color: $theme-primary;

					@media (max-width: 991px) {
						color: $theme-white;
					}
				}

			}

			@include component(dropdown) {
				background-color: $theme-primary;

				a {
					color: $theme-white;

					&:hover {
						background-color: $theme-secondary;
					}
				}
			}
		}
	}
}

@include component(sidebar-navigation) {
	@include box-shadow(0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2));
    background-color: $theme-secondary;
    @include rem-spacing (padding, 20);
	
	li{
		a{
			display: flex;
			align-items: center;
			@include fontSize($font-size-large);
			@include rem-spacing (padding, 8);
			@include rem-spacing (margin-bottom, 6);
			@extend .ff-secondary;
			text-transform: uppercase;

			&.active, &:hover {
				background-color: $theme-primary;
				color: $theme-white;
			}

			@include component(xicon) {
				width: 22px;
				display: inline-block;
				@include rem-spacing (margin-right, 10);
			}
		}
	}
}