@include component(gallery-slider) {
	
	@include component(item) {
		@include rem-spacing (margin, 0, 10);
	}

	@include component(slick-prev) {
        left: 10px;
        @include size(auto, auto);
        z-index: 9;

        &:before {
            font-family: '#{$icomoon-font-family}' !important;
            content: $icon-arrow_left;
            color: $theme-white;
            @include fontSize($font-size-h2 + 20px);
        }
    };

    @include component(slick-next) {
        right: 10px;
        @include size(auto, auto);
        z-index: 9;

        &:before {
            font-family: '#{$icomoon-font-family}' !important;
            content: $icon-arrow_right;
            color: $theme-white;
            @include fontSize($font-size-h2 + 20px);
        }
    };
}