/*!
 * ImageHover.css - http://www.imagehover.io
 * Version 2.0
 * Author: Ciarán Walsh

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 */

// Default variables
@import "hover-variables";

// Custom variables
@import "hover-custom";

@mixin fill($padding: 0) {
  position: absolute;
  top: $padding;
  bottom: $padding;
  left: $padding;
  right: $padding;
}

[class^="imghvr-"],
[class*=" imghvr-"] {
  position: relative;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  background-color: $image-bg;
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);

  > img {
    vertical-align: top;
    max-width: 100%;
  }

  figcaption {
    background-color: $figcaption-bg;
    padding: $figcaption-padding;
    @include fill;
    color: $text-color;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $text-color;
    }
  }

  a {
    //@include fill;
    z-index: 1;
  }
}

[class^="imghvr-"],
[class*=" imghvr-"],
[class^="imghvr-"]:before,
[class^="imghvr-"]:after,
[class*=" imghvr-"]:before,
[class*=" imghvr-"]:after,
[class^="imghvr-"] *,
[class*=" imghvr-"] *,
[class^="imghvr-"] *:before,
[class^="imghvr-"] *:after,
[class*=" imghvr-"] *:before,
[class*=" imghvr-"] *:after {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

@import "hover-effects/_imghvr-fade";
@import "hover-effects/_imghvr-push";
@import "hover-effects/_imghvr-slide";
@import "hover-effects/_imghvr-reveal";
@import "hover-effects/_imghvr-hinge";
@import "hover-effects/_imghvr-flip";
@import "hover-effects/_imghvr-shutter-out";
@import "hover-effects/_imghvr-shutter-in";
@import "hover-effects/_imghvr-switch";
@import "hover-effects/_imghvr-pivot-in";
@import "hover-effects/_imghvr-pivot-out";
@import "hover-effects/_imghvr-fold";
@import "hover-effects/_imghvr-zoom-in";
@import "hover-effects/_imghvr-zoom-out";
@import "hover-effects/_imghvr-blur";
@import "hover-effects/_imghvr-fall-away";
