@include component(box) {
// @include box-shadow(0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2));
//    border-radius: 4px;
//    background: $theme-white;
//    @include rem-spacing (margin-bottom, 14);

	@include option(box-shadow) {
		@include box-shadow(0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2));
		border-radius: 4px;
		background: $theme-white;
		@include rem-spacing (margin-bottom, 14);
	}

	@include option(round-box) {
		@include size(360px, 360px);
		border-radius: 50%;
		background-color: $theme-white;
		@include rem-spacing (padding, 40);
		text-align: center;
		position: relative;
		z-index: 8;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 1400px) {
			@include size(320px, 320px);
		}

		@media (max-width: 1199px) {
			margin: 10px auto;
		}

		@media (max-width: 575px) {
			@include size(220px, 220px);
		}

		@include component(title) {
			color: $theme-football;
			text-transform: uppercase;
			@include rem-spacing (margin-bottom, 26);
			line-height: 1;

			@media (max-width: 1400px) {
				@include fontSize($font-size-h2 - 6px);
				@include rem-spacing (margin-bottom, 16);
			}

			@media (max-width: 575px) {
				@include rem-spacing (margin-bottom, 30);
				@include fontSize($font-size-h2 + 4px);
			}
		}

		@include component(desc) {
			color: $theme-black;
			font-weight: $font-weight-medium;
			@include fontSize($font-size-medium);
			@include rem-spacing (margin-bottom, 30);

			@media (max-width: 1400px) {
				@include fontSize($base-font-size);
				@include rem-spacing (margin-bottom, 20);
			}
		}

		@include component(book-btn) {
			color: $theme-tennis;
			text-transform: uppercase;
			font-weight: $font-weight-bold;
			@include fontSize($font-size-h3);
			@extend .ff-secondary;
			position: relative;
			@include rem-spacing (padding-left, 30);
			line-height: 1;
			display: inline-block;

			&:before {
				content: '';
				@include size(20px, 20px);
				background-color: $theme-football;
				border-radius: 50%;
				position: absolute;
				left: 0;
				top: 5px;

				@media (max-width: 575px) {
					top: 2px;
				}
			}
		}
	}
}