@include component(sec-padding) {
	@include rem-spacing(padding, 120, 0);
	
	@media (max-width:767px){
		@include rem-spacing(padding, 30, 0);
	}

	@include option(small) {
		@include rem-spacing(padding, 40, 0);
	}

	@include option(xsmall) {
		@include rem-spacing(padding, 30, 0);
	}
}

@include component(container-wrapper) {
	width: 1600px;
    max-width: 1600px;
    margin: 0 auto;

    @media (max-width: 2000px) {
        width: 1200px;
        max-width: 1200px;
    }

    @media (max-width: 1400px) {
        width: 1000px;
        max-width: 1000px;
    }

    @media (max-width: 1199px) {
        width: 100%;
        max-width: inherit;
    }
}

@include component(maintitle) {
	color: $theme-white;
}

@include component(maindesc) {
	
}

@include component(main-section) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;

    section {
    	min-width: 360px;
        max-width: 360px;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        padding: 0 0 3%;
        color: $theme-white;
        z-index: 1;
        overflow: hidden;
        flex-wrap: wrap;
        //background-size: 100% 100%;
        background-size: cover;
        background-position: top center;
        position: relative;
        transition: ease all .3s!important;
        transition-delay: 1s;

        // @media (min-width: 1200px) {
        //     min-width: 25%;
        // }

        @media (max-width: 1199px) {
            display: inline-block;
            float: left;
            width: 50%;
            max-width: inherit;
            min-width: inherit;
            height: 600px;
        }

        @media (max-width: 575px) {
            width: 100%;
        }

        &.home-container {
    	    min-width: 100% !important;

            // &:after {
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     @include size(40%, 100%);
            //     content: '';
            //     background-color: rgba($theme-primary, 0.8);
            // }

            @media (max-width: 575px) {
                height: 600px;
            }
        }

        @include component(inner-content) {
            position: absolute;
            z-index: 6;
            top: 0;
            left: 0;
            height: 100vh;
            width: 60%;
            @include transition(0.3s);
            mix-blend-mode: darken;

            @media (max-width: 1199px) {
                @include size(100%, 50%);
                @include rem-spacing (padding, 0);
                top: 50%;
            }

            @include option(football) {
                background-color: rgba($theme-football, 0.8);
            }

            @include option(tennis) {
                background-color: rgba($theme-tennis, 0.8);
            }

            @include option(padel) {
                background-color: rgba($theme-padel, 0.4);
            }

            @include option(rugby) {
                background-color: rgba($theme-black, 0.8);
            }

            @include option(running) {
                background-color: rgba($theme-running, 0.8);
                mix-blend-mode: overlay;
            }

        }

        @include component(vertical-heading) {
            @include transform(rotate(-90deg));
            position: absolute;
            top: 200px;
            right: 122px;
            text-align: right;
            width: 380px;
            white-space: nowrap;
            @include rem-spacing (margin, 0);

            @media (min-width: 2000px) {
                width: 450px;
                right: 86px;
                top: 220px;
            }

            @media (max-width: 1199px) {
                width: 410px;
                right: 110px;
            }

            @media (max-width: 1600px) {
                right: 112px;
            }

            @media (max-width: 1400px) {
                top: 180px;
                left: -130px;
                right: auto;
                width: 340px;
            }

            @media (max-width: 1199px) {
                left: -110px;
                width: 300px;
            }

            @include component(title) {
                line-height: 1;
                @include fontSize($font-size-h2);
                font-size: 4vw;
                font-weight: $font-weight-xblack;
                text-transform: uppercase;

                @media (min-width: 2000px) {
                    @include fontSize(80px);
                }

                @media (max-width: 1024px) {
                    @include fontSize($font-size-h2 + 10px);
                }
            }
        }

        @include option(sports-box) {

            @include component(bottom-content) {
                position: absolute;
                bottom: 6%;
                left: 26px;
                width: 86%;

                @include component(desc) {
                    color: $theme-default;
                    @include fontSize($font-size-large);

                    @include option(white) {
                        color: $theme-white;
                    }
                }
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                @include size(100%, 100%);
            }

            &.about {
                align-items: center;
                justify-content: center;

                @include component(about-content) {
                    @include rem-spacing (padding, 0, 30);
                    
                    @include component(title) {
                        color: $theme-primary;
                        @include fontSize($font-size-h2 + 24px);
                        line-height: 1;
                        @include rem-spacing (margin-bottom, 20);
                    }

                    @include component(desc) {
                        color: $theme-primary;
                        @include fontSize($font-size-large);
                    }
                }

                @media (max-width: 1199px) {
                    width: 100%;
                    @include rem-spacing (padding, 80, 0);
                    height: inherit;
                }
            }

            &.football {
                &:before {
                    background-color: rgba($theme-football, 0.8);
                    mix-blend-mode: darken;
                }
            }

            &.tennis {
                &:before {
                    background-color: rgba($theme-tennis, 0.8);
                }
            }

            &.rugby {
                &:before {
                    background-color: rgba($theme-black, 0.8);
                }
            }

            &.padel {
                &:before {
                    background-color: rgba($theme-padel, 0.6);
                }
            }

            &.running {
                &:before {
                    background-color: rgba($theme-running, 0.8);
                    mix-blend-mode: overlay;
                }
            }
        }

        @include component(readmore-btn) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            @include size(100%, 100%);
        }

        &.about-page {
            @include component(about-desc) {
                color: $theme-white;
                @include fontSize($font-size-large);

                @media (max-width: 1400px) {
                    @include fontSize($font-size-medium);
                }
            }
        }
    }

    @media (max-width: 1199px) {
        position: relative;
        display: block;
    }
}

// Inner Pages
@include component(inner-page-section) {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    background-size: cover;
    background-position: top center;
    position: relative;
    min-height: 100vh;

    @include component(inner-content) {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        min-height: 100vh;
        @include size(26%, 100%);

        @include option(football) {
            background-color: rgba($theme-football, 0.8);
            mix-blend-mode: darken;
        }

        @include option(tennis) {
            background-color: rgba($theme-tennis, 0.8);
        }

        @include option(rugby) {
            background-color: rgba($theme-black, 0.8);
        }

        @include option(running) {
            background-color: rgba($theme-running, 0.8);
            mix-blend-mode: overlay;
        }

        @media (max-width: 1199px) {
            min-height: auto;
            @include size(100%, 240px);
            position: relative;
        }

        // @media (max-width: 575px) {
        //     width: 200px;
        // }
    }

    @include component(vertical-heading) {
        @include transform(rotate(-90deg));
        position: absolute;
        top: 220px;
        left: -90px;
        text-align: right;
        width: 450px;
        white-space: nowrap;
        @include rem-spacing (margin, 0);
        z-index: 4;

        @media (min-width: 2000px) {
            top: 220px;
        }

        @media (max-width: 1199px) {
            @include transform(rotate(0deg));
            top: 140px;
            left: 20px;
            text-align: left;
            width: auto;
        }

        // @media (max-width: 575px) {
        //     left: -180px;
        // }

        @include component(title) {
            line-height: 1;
            @include fontSize($font-size-h2);
            font-size: 5vw;
            color: $theme-white;
            font-weight: $font-weight-xblack;
            text-transform: uppercase;

            @media (min-width: 2000px) {
                @include fontSize(80px);
            }

            @media (max-width: 1199px) {
                @include fontSize($font-size-h1 - 20px);
            }
        }
    }

    @include component(content-section) {
        position: absolute;
        left: 0;
        top: 0;
        @include size(100%, 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;

        @include component(mobile-content) {
            @include rem-spacing (padding, 0, 20);
            color: $theme-white;
            @include fontSize($font-size-medium);
            @include rem-spacing (margin-bottom, 40);
            display: none;
        }

        @media (max-width: 1199px) {
            position: relative;
            @include rem-spacing (padding, 40, 0);
            background-color: rgba($theme-black, 0.8);
            display: block;

            @include component(mobile-content) {
                display: block;
            }
        }

        // @media (max-width: 575px) {
        //     @include rem-spacing (padding, 100, 0);
        // }
    }

    @media (max-width: 1199px) {
        position: relative;
        display: block;
        height: inherit;
        background-attachment: fixed;
    }
}