@include component(primary-header) {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	z-index: 6;
	width: 19%;

	@media (min-width: 1600px) {
		width: 15%;
	}

	@media (min-width: 1400px) {
		width: 17%;
	}

	@media (max-width: 1199px) {
		width: 100%;
		position: absolute;
		height: auto;

		&.nav-active {
			position: fixed;
		}
    }

	&:before {
		background-color: $theme-primary;
		top: 0;
		left: 0;
		@include size(0%, 100%);
		content: '';
		@include transition(width 0.3s);
		position: absolute;
		z-index: 7;

		@media (max-width: 1199px) {
			display: none;
		}
	}

	@include component(header-logo) {
		@include size(210px, 142px);
		display: block;
		@include rem-spacing (margin, 20, 0, 40, 10);
		position: relative;
		z-index: 8;
		@include transition(0.3s);

		@media (max-width: 1400px) {
            @include size(180px, 122px);
        }

        @media (max-width: 1199px) {
            @include size(130px, 84px);
            @include rem-spacing (margin, 10, 0, 10, 10);
        }

		@include component(icon) {
			width: 136px;
			@include transition(0.3s);

			@media (max-width: 1400px) {
                width: 106px;
            }

            @media (max-width: 1199px) {
                width: 70px;
            }
		}

		@include component(text) {
			position: absolute;
			bottom: 0;
			right: 0;
			@include transition(0.3s);
			width: 90px;

			@media (max-width: 1199px) {
                width: 70px;
            }
		}
	}

	@media (min-width: 1200px) {

		&:hover, &.scroll:hover, .inner-page &:hover {

			&:before {
				width: 100%;
			}

			@include component(header-logo) {

				@include component(icon) {
					width: 136px;

					@media (max-width: 1400px) {
		                width: 106px;
		            }

		            @media (max-width: 1199px) {
		                width: 70px;
		            }
				}

				@include component(text) {
					display: block;
				}
			}

			@include component(mobile-nav-btn) {
				
				@include component(lines) {
		            &:nth-child(1), &:nth-child(4){
		                top: 10px;
		                width: 0%;
		                left: 50%;
		            }
		            &:nth-child(2){
		                @include transform(rotate(45deg));
		            }
		            &:nth-child(3){
		                @include transform(rotate(-45deg));
		            }
		        }
			}

			@include component(primary-navigation) {
				left: 30%;
			}
		}

	}

	&.nav-active, &.scroll.nav-active, .inner-page &.nav-active {

		&:before {
			width: 100%;
		}

		@include component(header-logo) {

			@include component(icon) {
				width: 136px;

				@media (max-width: 1400px) {
	                width: 106px;
	            }

	            @media (max-width: 1199px) {
	                width: 70px;
	            }
			}

			@include component(text) {
				display: block;
			}
		}

		// @include component(mobile-nav-btn) {
			
		// 	@include component(lines) {
	 //            &:nth-child(4){
	 //                @include transform(rotate(90deg));
	 //            }
	 //            &:nth-child(1){
	 //                @include transform(rotate(90deg));
	 //            }
	 //        }
		// }
	}

	&.scroll {

		&:before {
			width: 80px;
		}

		@include component(header-logo) {

			@include component(icon) {
				width: 60px;
			}

			@include component(text) {
				display: none;
			}
		}
	}

	.inner-page & {
		&:before {
			width: 80px;
		}

		@include component(header-logo) {

			@include component(icon) {
				width: 60px;

				@media (max-width: 1199px) {
	                width: 70px;
	            }
			}

			@include component(text) {
				display: none;

				// @media (max-width: 1199px) {
	   //              display: block;
	   //          }
			}
		}
	}
}