@include component(primary-navigation) {
	position: absolute;
	top: 0;
	//@include transform(translateY(-50%));
	left: -300px;
	z-index: 8;
	@include transition(0.3s);
	@include rem-spacing (margin-top, 200);
	width: calc(100% - 30%);

	ul > li {
		@include rem-spacing (margin, 20, 0);

		&.drop-menu {

			// &.nav-active {

			// 	@include component(dropdown) {
			// 		height: 100%;
			// 	}
			// }

			> a {
				position: relative;

				&:before {
					position: absolute;
					left: -20%;
					top: 40%;
					content: '';
					@include size(14%, 30%);
					background-color: $theme-football;
					border-radius: 50%;

					@media (max-width: 1400px) {
						@include size(10px, 10px);
					}

					@media (max-width: 1199px) {
						@include size(20px, 20px);
					}

					@media (max-width: 480px) {
		                @include size(10px, 10px);
		                top: 60%;
		            }
				}
			}

			&.active {

				> a {
					color: $theme-football;
				}
			}
		}

		> a {
			color: $theme-white;
			//@include fontSize($font-size-h3);
			font-size: 1.8vw;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			@extend .ff-secondary;
			line-height: 1;

			@media (max-width: 1400px) {
				@include fontSize($font-size-h3);
			}

			@media (max-width: 1199px) {
				@include fontSize($font-size-h3 + 20px);
			}

			@media (max-width: 480px) {
                @include fontSize($font-size-h3);
            }

			small {
				//@include fontSize($font-size-small);
				font-size: 0.8vw;
				display: block;

				@media (max-width: 1400px) {
					@include fontSize($font-size-small);
				}

				@media (max-width: 1199px) {
					@include fontSize($font-size-large);
				}
			}
		}

		@include component(dropdown) {
			@include rem-spacing (padding-left, 20px);
			// height: 0;
			// overflow-y: hidden;
			//@include transition(height 0.4s);
			
			> li {
				@include rem-spacing (margin, 8, 0);

				> a {
					@include fontSize($font-size-h5);

					&:hover {
						color: $theme-football;
					}

					@media (max-width: 480px) {
		                @include fontSize($font-size-large);
		            }
				}

				&:last-child {
					@include rem-spacing (margin-bottom, 0);
				}
			}

			@media (max-width: 1199px) {
				@include rem-spacing (padding, 0);
			}
		}
	}

	@media (max-width: 1199px) {
		position: fixed;
		@include size(100%, 100%);
		background-color: $theme-primary;
		top: 0;
		left: -100%;
		z-index: 6;
		overflow: hidden;
		@include transform(translateY(0%));
		@include rem-spacing (margin-top, 0);

		> ul {
			position: absolute;
			left: 0;
			right: 0;
			top: 0%;
			//@include transform(translateY(-50%));
			text-align: center;
			@include rem-spacing (margin-top, 120);
			@include rem-spacing (margin-right, -8);
			@include rem-spacing (padding-bottom, 60);
		    overflow-y: scroll;
		    height: 70%;

		}
	}

	&.nav-active {
		left: 30%;

		@media (max-width: 1199px) {
			left: 0;
		}
	}
}